html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

header .alphabet {
    display: flex;
    gap: 0.37rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
    color: #70d6ff;
}

.letter {
    display: block;
    padding: 2px;
    cursor: pointer;
    transition: 0.25s;
}

.pressed {
    color: #69db7e;
    text-shadow: 2px 2px 15px #3fcc59;
}

.letter:hover,
.letter:focus {
    color: #69db7e;
    text-shadow: 2px 2px 15px #3fcc59;
    transform: translateY(-0.25em);
}

footer {
    height: 100px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.rss-link {
    display: block;
    width: 100px;
    transition: 0.25s;
}

.rss-link:hover {
    transform: rotateZ(-10deg);
}

.github-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #30c5ff;
    transition: 0.25s;
}

.github-link:hover span{
    color: #69db7e;
    text-shadow: 2px 2px 15px #3fcc59;
}

.github-link:hover svg path{
    fill: #69db7e;
}

.sources-placeholder {
    display: none;
    font-size: 2.2rem;
    color: #333;
    text-transform: uppercase;
}

.news {
    text-align: center;
}

.news-placeholder {
    display: block;
    padding-top: 15vh;
    font-size: 4rem;
    color:#333;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .letter:hover,
    .letter:focus {
        color: #70d6ff;
        text-shadow: none;
        transform: none;
    }

    .rss-link:hover {
        transform: none;
    }

    .github-link:hover span{
        color: #70d6ff;
        text-shadow: none;
    }

    .github-link:hover svg path{
        fill: #70d6ff;
    }

    header .alphabet {
        display: flex;
        justify-content: center;
        gap: 0.37rem;
        font-size: 1rem;
    }

    .sources-placeholder {
        display: none;
        font-size: 1.5rem;
        color: #333;
        text-transform: uppercase;
    }

    .news-placeholder {
        padding-top: 6vh;
        font-size: 3rem;
    }

    footer {
        height: auto;
    }
}

@media (max-width: 500px) {
    .sources-placeholder {
        font-size: 1.1rem;
    }

    .news {
        margin-bottom: 70px;
    }

    .news-placeholder {
        padding-top: 4vh;
        font-size: 1.5rem;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}